/* style.css by Audrey Belliot */

* {
  font-family: "Trebuchet MS","Sans Serif";
}

body {
    background-color: white;
    margin:0;

}

h1
{
font-size: 50px;
}

h2
{
  font-size: 20px;
  margin-bottom:40px;
  font-weight: lighter;
}

h3
{
font-size: 20px;
font-weight: light;
text-decoration: underline;
text-decoration-color: #EF489E;
margin-top:20px;



}

.bg-pink
{
  background-color: #EF489E;
}

.contentweek .row {
  margin-top: 10px;
}
