/* style.css by Audrey Belliot */

* {
  font-family: "Trebuchet MS","Sans Serif";
  font-size: 15px;

}

body {
    background-color: white;
    margin:0;
}

footer {
  text-align: center;
  padding: 1px;
  background-color: #EF489E;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.navbar {
  width: 100%;
}

h1 {
font-size: 50px;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
}

h3 {
font-size: 20px;
font-weight: light;
text-decoration: underline;
text-decoration-color: #EF489E;
margin-top:40px;

}

h4 {
font-size: 16px;
font-weight:lighter;
color: grey

}

strong {
  font-style: normal;
  font-weight: bold;
}

em{
  font-style: normal;
  font-weight: lighter;
  color: #9B9B9B;
}

.bg-pink {
  background-color: #EF489E;
}

hr {
  border: 4px solid pink;


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
